$font-family: "Montserrat", sans-serif;
$font-size: 14px;
$primary-color-100: #E7F0FF;
$primary-color-300: #7387AC;
$primary-color-400: #5F7AFF;
$primary-color-500: #264AFB;
$primary-color-900: #00065B;
$secondary-color-400: #06EB83;
$secondary-color-500: #01D684;
$secondary-color-600: #009E61;
