$font-family: "Montserrat", sans-serif;
$font-size: 14px;
$primary-color-100: #e7f0ff;
$primary-color-300: #7387ac;
$primary-color-400: #5f7aff;
$primary-color-500: #264afb;
$primary-color-900: #00065b;
$secondary-color-400: #06eb83;
$secondary-color-500: #01d684;
$secondary-color-600: #009e61;
