.app {
  margin: 0 auto;
}

.bags {
  padding: 0 256px 112px;
}
@media screen and (max-width: 1349px) {
  .bags {
    padding: 0 99px 112px;
  }
}
.bags__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin-bottom: 64px;
}
.bags__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.button {
  padding: 16px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
.button--white {
  border: 1px solid #e7f0ff;
  box-shadow: 0px 3px 15px 0px rgba(0, 6, 91, 0.1019607843);
  color: #01d684;
}
.button--white:hover {
  background-color: #e7f0ff;
  box-shadow: 0px 5px 15px 0px rgba(0, 6, 91, 0.3019607843);
  color: #00065b;
}
.button--white.active {
  background-color: #264afb;
  border: 1px solid #264afb;
  color: white;
}
.button--green {
  background-color: #06eb83;
  color: #00065b;
}
.button--green:hover {
  background-color: #01d684;
  border-bottom: 2px solid #009e61;
}

.card {
  max-width: 328px;
  text-align: center;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card h4 {
  margin: 10px;
}
.card p {
  margin: 0;
}
.card__button {
  margin: 32px 0 0;
}

.footer {
  max-width: 1408px;
  margin: 0 auto;
  padding: 32px 64px;
  border-top: 8px solid #e7f0ff;
}
.footer__box {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
@media screen and (max-width: 1349px) {
  .footer__box {
    flex-direction: column;
    gap: 30px;
  }
}
.footer__box .logo {
  width: 208px;
}
.footer__box .logo .logo__img {
  width: 208px;
}
.footer__links {
  display: flex;
  gap: 40px;
}
.footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #01d684;
  text-decoration: none;
}
.footer__link:hover {
  color: #009e61;
}

.header {
  margin: 0 256px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
}
@media screen and (max-width: 1349px) {
  .header {
    margin: 0 99px;
  }
}
@media screen and (max-width: 1049px) {
  .header {
    flex-direction: column;
    margin: 20px;
  }
}
@media screen and (max-width: 649px) {
  .header {
    height: auto;
  }
}

.horizontalCard {
  display: flex;
  padding: 112px 256px;
  gap: 64px;
}
.horizontalCard--white {
  background-color: white;
}
.horizontalCard--blue {
  background-color: #e7f0ff;
  align-items: center;
}
@media screen and (max-width: 1349px) {
  .horizontalCard {
    padding: 112px 99px;
  }
}
@media screen and (max-width: 1049px) {
  .horizontalCard {
    flex-direction: column;
    text-align: center;
  }
}
.horizontalCard:first-child {
  padding-top: 0;
  align-items: center;
}
@media screen and (max-width: 1049px) {
  .horizontalCard:first-child {
    padding-top: 20px;
  }
}
.horizontalCard__text {
  flex: 1;
  flex-basis: 50%;
}
.horizontalCard__text--right {
  order: 1;
}
.horizontalCard__text--left {
  order: 2;
}
.horizontalCard__text h2 {
  margin-bottom: 8px;
  margin-top: 0;
}
.horizontalCard__text ul {
  padding: 0;
  padding-left: 15px;
  max-width: 600px;
}
@media screen and (max-width: 1049px) {
  .horizontalCard__text ul {
    margin: 0 auto;
  }
}
.horizontalCard__text li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.horizontalCard__buttons {
  display: flex;
  gap: 32px;
  margin-top: 64px;
  justify-content: flex-start;
}
@media screen and (max-width: 1049px) {
  .horizontalCard__buttons {
    justify-content: center;
  }
}
@media screen and (max-width: 649px) {
  .horizontalCard__buttons {
    flex-direction: column;
  }
}
.horizontalCard__image {
  flex-basis: 50%;
  max-width: 680px;
  overflow: hidden;
  position: relative;
}
.horizontalCard__image--right {
  order: 2;
  margin: 0 auto;
}
.horizontalCard__image--left {
  order: 1;
  margin: 0 auto;
}
.horizontalCard__image img {
  width: 100%;
}

.logo {
  width: 136px;
}

.header__menu {
  display: flex;
  flex-basis: 80%;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 649px) {
  .header__menu {
    flex-direction: column;
    margin: 20px;
    padding: 0;
    gap: 0;
  }
}
.header__list {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}
.header__chevron {
  width: 16px;
}
.header__link {
  display: block;
  text-decoration: none;
  color: #00065b;
  padding: 3px 0;
}
@media screen and (min-width: 899px) {
  .header__link {
    border-bottom: none;
  }
}
.header__link:hover, .header__link:focus {
  border-bottom: 4px solid #06eb83;
}
.header__link.active {
  border-bottom: 4px solid #06eb83;
}
.header__services {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__services:hover, .header__services:focus {
  border-bottom: none;
}
@media screen and (max-width: 649px) {
  .header__services {
    justify-content: center;
  }
}
.header__services--div {
  position: relative;
}
@media screen and (min-width: 650px) {
  .header__services--div:hover .header__submenu, .header__services--div:focus .header__submenu {
    display: block;
  }
}

.otherPages {
  margin: 20px auto;
  text-align: center;
}

.services {
  text-align: center;
  max-width: 928px;
  margin: 0 auto 64px;
}
.services h2 {
  margin-bottom: 24px;
  margin-top: 0;
}

.header__submenu {
  display: none;
  position: absolute;
  left: 0;
  border-radius: 8px;
  box-shadow: 0px 3px 15px 0px rgba(0, 6, 91, 0.1019607843);
  background-color: white;
  z-index: 100;
}
@media screen and (max-width: 649px) {
  .header__submenu {
    width: 100%;
    position: static;
    box-shadow: none;
  }
}
.header__submenu--item {
  width: 240px;
  border-bottom: 1px solid #e7f0ff;
  text-align: left;
  padding: 19px 16px;
}
@media screen and (max-width: 649px) {
  .header__submenu--item {
    border-bottom: none;
    padding: 8px;
  }
}
.header__submenu--link {
  text-decoration: none;
  color: #00065b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 649px) {
  .header__submenu--link {
    color: #7387ac;
    justify-content: center;
  }
}
.header__submenu .header__submenu--arrow {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header__submenu .header__submenu--link:hover .header__submenu--arrow {
  display: inline-block;
}
@media screen and (max-width: 649px) {
  .header__submenu .header__submenu--link:hover .header__submenu--arrow {
    display: none;
  }
}

@media screen and (max-width: 649px) {
  .open {
    display: block;
  }
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #00065b;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}/*# sourceMappingURL=index.css.map */